/* Additional layout adjustments */

#canvas-window {
    flex-grow: 3 !important;
}

#canvas-window #canvas-wrapper {
    overflow: auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#canvas-window #main-canvas {
    border: 1px solid black;
}


#code-window {
    min-width: 500px;
    width: 20vw;
}

@media (max-width: 1000px) {
    #code-window {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-width: auto;
    }

    #code-window #code-editor-wrapper { /*TODO*/
        max-height: 60vh;
    }

    #canvas-window {
        min-width: none;
    }
}

#code-window #code-editor-wrapper { /*TODO*/
    width: 100%;
    max-height: 90vh;
    overflow: auto; /*scroll*/
    display: inline-flex
}

#code-window #code-wrapper {
    flex-grow: 1;
}

#code-window #code-editor {
    width: 100%;
}

#code-window #code-controls {
    margin-top: auto;
}



/* Code editor formatting */

#line-numbering {
    position: sticky;
    left: 0;
    height: fit-content;
    width: fit-content;
    padding: 3px;
    background-color: rgb(209, 209, 209);
    font-size: 1.1rem;
    font-family: monospace;
    color: gray;
}


.lineno {
    padding: 0 5px;
}


.code {
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    white-space: pre;
    padding: 3px;
    background-color: whitesmoke;
    tab-size: 2;
}


.code:focus {
    outline: none;
}

.code::selection, .code span::selection {
    background: rgba(35, 156, 255, 0.4);
}

.code span.err {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}

.code span.err span.kw, .code span.err span.num, .code span.err span.id {
    color: black;
    font-weight: normal;
}

.code span.kw {
    color: rgb(41, 41, 255);
}

.code span.num {
    color: rgb(244, 103, 0);
}

.code span.id {
    color: rgb(0, 168, 168);
}

.code span.comment {
    color: rgb(115, 196, 159);
}

.code span.argn {
    color: rgb(122, 122, 122);
}

.code span.b {
    font-weight: bold;
}
