#main-canvas {
    border: 1px solid black;
}


.lineno {
    font-size: 1.1rem;
    font-family: monospace;
    background-color: gray;
}

.code {
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    white-space: pre;
}

.code::selection, .code span::selection {
    background: rgba(35, 156, 255, 0.4);
}

.code span.err {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}

.code span.err span.kw, .code span.err span.num, .code span.err span.id {
    color: black;
    font-weight: normal;
}

.code span.kw {
    color: rgb(41, 41, 255);
}

.code span.num {
    color: rgb(244, 103, 0);
}

.code span.id {
    color: rgb(0, 168, 168);
}

.code span.comment {
    color: rgb(115, 196, 159);
}

.code span.argn {
    color: rgb(122, 122, 122);
}

.code span.b {
    font-weight: bold;
}
